// Mixins Here

.trueCenter () {
    justify-content: center;
    align-items: center;
}

.align (@justify, @align) {
    justify-content: @justify;
    align-items: @align;
}

.button (@foreColor, @backColor) {

}